    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        overflow-x: hidden;
        margin-right: calc(-1 * (100vw - 100%));
      }

    body {
        background-color: #EDF1D6;
    }
    
    .wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 50px 0;
    }

    .title{
        font-family: "Lucida Console", "Courier New", monospace;
        color: #40513B;
        margin-bottom: 8px;
    }

    .accordion {
        padding: 0 30px;
        min-width: 600px;
        border: 2px solid #40513B;
        border-radius: 10px;
    }

    .border_top{
        border-top: 2px solid #40513B;
    }

  .accordion__element {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    padding: 10px 0;
  }

  .accordion:hover span {
    color: #AA5656;
  }

  .arrow{
    position: absolute;
    width: 15px;
    height: 15px;
    top: 14px;
    right: 0px;
    transition: transform .5s ease-in-out;
    opacity: 0;
  }

  .accordion:hover .arrow{
    opacity: 1;
  }

  span {
    display: block;
    color: #40513B;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "Lucida Console", "Courier New", monospace;
  }

.mem {
    height: 0;
    width: 400px;
    scale: 0;
    transition: scale 0.9s ease-in-out;
    align-self: center;
  }

  input[type="radio"]:checked + .accordion__element > .arrow {
    transform: rotate(90deg)
  }

  input[type="radio"]:hover + .accordion__element > .arrow {
    transform: rotate(90deg)
  }

  input[type="radio"]:checked + .accordion__element > .mem {
    min-height: 400px;
    margin: 10px 0;
    scale: 1;
  }

  input[type="radio"]:hover + .accordion__element > .mem {
    min-height: 400px;
    margin: 10px 0;
    scale: 1;
  }

  input[type="radio"]:checked + .accordion__element span {
    color: #40513B;
  }
  

  @media (max-width: 820px) {
    .title{
      font-size: 1.5rem;
    }

    .accordion{
      min-width: 400px;
    }

    span {
      font-size: 1rem;
    }

    .mem {
      width: 250px;
    }

    .arrow{
      width: 13px;
      height: 13px;
      top: 12px;
    }

    input[type="radio"]:checked + .accordion__element > .mem {
      min-height: 250px;
    }
  
    input[type="radio"]:hover + .accordion__element > .mem {
      min-height: 250px;
    }
  }

  @media (max-width: 480px) {
    .title{
      font-size: 1rem;
    }

    .accordion{
      min-width: 250px;
    }

    span {
      font-size: 0.5rem;
    }

    .mem {
      width: 200px;
    }

    .arrow{
      width: 10px;
      height: 10px;
      top: 10px;
    }

    input[type="radio"]:checked + .accordion__element > .mem {
      min-height: 200px;
    }
  
    input[type="radio"]:hover + .accordion__element > .mem {
      min-height: 200px;
    }
  }